# ############################################################################
# requirements.txt
# ================
# Author : Sepand KASHANI [sepand.kashani@epfl.ch]
# ############################################################################

imot_tools == 1.0.*
ipython == 7.2.*
pyunlocbox == 0.5.*
redis == 3.2.*
scikit-image == 0.14.*
tqdm == 4.28.*
